<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Buggin Out</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css"
      integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/stylesheets/home.css" crossorigin />
  </head>

  <body class="d-flex text-center text-white bg-dark">
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
      <header class="mb-auto">
        <div>
          <h3 class="float-md-left mb-0">Buggin Out</h3>
        </div>
        <div>
          <a class="btn btn-info mr-5 mt-3" href="/bugs">Back to Bugs</a>
        </div>
      </header>

      <main>
        <h1 class="display-1">About Buggin' Out</h1>
        <p class="h2 font-weight-bold">
          Buggin' Out is a platform dedicated to sharing and discussing images
          of bugs from around the world, including all manner of arthropods,
          gastropods & more! Whether you're a amateur looking to share a their
          first bug photo or a seasoned professional wanting to display their
          collection, you've come to the right place!
        </p>
        <p class="h3 font-weight-bold">
          Our mission is to create a community where users can contribute their
          experiences, learn from others, and collaborate on solutions. Feel
          free to explore the bugs shared by our community, leave comments, and
          even add your own!
        </p>
        <p class="h3 font-weight-bold">
          Thank you for being a part of Buggin' Out. Happy bug hunting!
        </p>
      </main>

      <div class="h5 mt-5 text-white p-3 bg-primary rounded">
        <a class="d-inline nav-link" href="https://github.com/DaBuggins">
          <img
            id="small-thumb"
            class="img-fluid rounded-circle"
            src="https://res.cloudinary.com/deskiol0z/image/upload/c_thumb,w_200,g_face/v1758024219/BugginOut/GitHub-Mark-ea2971cee799_gyfvff.png"
            alt=""
          />
          Will Rowe GitHub</a
        >
        <p>
          Tech Stack: Node.js, Express, EJS Templating, MongoDB & Mongoose
          Database, Bootstrap 5 Styling Cloudinary Image Hosting, Mapbox
          Geocoding, Passport Authentication, Railway Deployment
        </p>
        <p class="mt-3 h6 text-white-50">
          This site was made based on the YelpCamp project from Colt Steele's
          'Web Developer Bootcamp'
        </p>
      </div>

      <footer class="mt-auto text-white-50">
        <p>&copy; 2025</p>
      </footer>
    </div>

    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
      integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js"
      integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
