:root {
    --buggrey:rgb(71, 75, 79);
    --bugorng:rgb(220, 160, 49);
    --buggrn: rgb(229, 217, 46);
}

#cluster-map {
    align-items: center;
    width:100%;
    height: 400px;
}

#map {
    width: 100%;
    height: 300px;
}

.img-thumbnail {
    max-height: 250px;
    min-width: 300px;
    border: 1px solid var(--buggrey);
  }

  h1 {
    font: 800 40px Arial;
    -webkit-text-fill-color: var(--buggrey)
    -webkit-text-stroke: 200px;
    
  }

  body {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("https://images.unsplash.com/photo-1532028205213-4c4fa81306d4?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;

}

.card {
    max-width: 20vw;
    min-width: 350px;
    padding: 10px;
    margin: 20px;
    margin-right: 40px;
    border: 3px solid rgba(173, 122, 26, 0.7);
    background-color: rgba(200, 193, 173, 0.6)
}

.descriptor {
    font-style: italic;
    font-size: x-small;
}

.display-2 {
    color: rgb(220, 160, 49);
    font-weight: bolder;
    display: inline-flex;
}

#title-map {    
    text-align: center;
}
 .pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem;
 }

 #pagbtn {
    margin: 5px;
    font-weight: bold;
    color: var(--bugorng);
    background-color: var(--buggrey);
    border: none;
 }

 #navbar {
    background-color: rgb(220, 160, 49);
 }

 #navbar-btn {
    color: var(--buggrey);
    font-weight: bold;
 }

 #nav-link {
    color: var(--buggrey);
    font-weight: 600;
    margin-left: 10px;
 }

 #new-btn {
    margin-top: 10px;
    color: var(--buggrey);
    background-color: var(--bugorng);
 }

 #card-btn {
    align-items: center;
 }

 #thumb-img {
    max-height: 200px;

 }



#items {
    justify-content: center;
 }

